/* Default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "poppy-shower";
  src: url(Fonts/Poppy\ Shower.ttf);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(+300px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


/* Header - Mone de Jager and F-J Mentz */

.heading-Lovers-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  padding-bottom: 2%;
}

#container1 {
  display: flex;
  justify-content: center;

}


#heading-column1 {
  text-align: right;
  font-size: 50px;
  opacity: 0;
  animation: slideInLeft 1s ease-in forwards;
  font-family: "poppy-shower";
}

#heading-column2 {
  text-align: left;
  font-size: 50px;
  opacity: 0;
  animation: slideInRight 1s ease-in forwards;
  font-family: "poppy-shower";
}

.heading-surname {
  font-size: 50px;
}

#and-sign {
  font-size: 70px;
  color: darkgoldenrod;
  text-align: center;
  font-family: "poppy-shower";

}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* bubbles */



.container-bubbles {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: +100;

}

.bubbles {
  position: relative;
  display: flex;

}

.bubbles span {
  position: relative;
  width: 5px;
  height: 5px;
  background: darkgoldenrod;
  margin: 0 4px;
  border-radius: 100%;
  box-shadow: 0 0 0 1px gold, 0 0 5px gold, 0 0 10px gold;
  animation: animate 15s linear infinite;
  animation-duration: calc(250s / var(--i));
}

.bubbles span :nth-child(even) {
  background: goldenrod;
  box-shadow: 0 0 0 10px gold, 0 0 50px gold, 0 0 100px gold;
}

@keyframes animate {
  0% {
    transform: translateY(200vh) scale(0);
  }

  100% {
    transform: translateY(-10vh) scale(1);
    opacity: 0.2;
  }
}


/* ------------------------------------------------------------------------------------------------------------------------ */

/* Menu */

#container2 {
  display: flex;
  justify-content: center;
  align-items: center;


}

/* Navbar visibility while scrolling */
.nav-bar {
  position: fixed;
  left: 0;
  width: 100%;
  padding: 10px;
  transition-duration: 0.5s;
  z-index: +999999;
}

.nav-bar.visible {
  top: 0;

}

.menu-grid {
  display: flex;
  justify-content: center;
  gap: 70px;
  font-size: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  list-style-type: none;
  padding-bottom: 2%;
}

.nav-bar {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-bar li {
  text-align: center;
}

.nav-bar a {
  text-decoration: none;
  color: darkgoldenrod;
  padding-left: 10px;
  padding-right: 10px;

}

/* Hover animation */
.menu-grid :hover {
  background-color: darkgoldenrod;
  color: white;
  padding-left: 3px;
  padding-right: 3px;
  border: 1px solid darkgoldenrod;
  border-radius: 10px;
  transform: scale(1.1);
  transition-duration: 0.2s;

}

/* ------------------------------------------------------------------------------------------------------------------------ */

/* Welcome */

#background-color {
  background-color: rgb(255, 253, 248);
  /* background-image: url(Pictures/gold\ texture.jpg); */
  color: goldenrod;
}

#welcome-section {
  background-image: url(Pictures/srhbzhzdhxfh.jpg);
  background-size: cover;
  height: 700px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  text-shadow: 1px 1px 1px #000;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#reg-buttonb {
  border: none;
  padding: 10px 20px;
  font-size: 24px;
  position: relative;
  background: transparent;
  color: goldenrod;
  text-transform: uppercase;
  border: 3px solid goldenrod;
  cursor: pointer;
  transition: all 0.7s;
  overflow: hidden;
  border-radius: 100px;
  margin-top: 2%;
}

#reg-buttonb:hover {
  color: #000;
}

.spanbutton {
  transition: all 0.7s;
  z-index: -1;
}

#reg-buttonb .first {
  content: "";
  position: absolute;
  right: 100%;
  top: 0;
  width: 25%;
  height: 100%;
  background: goldenrod;
}

#reg-buttonb:hover .first {
  top: 0;
  right: 0;
}

#reg-buttonb .second {
  content: "";
  position: absolute;
  left: 25%;
  top: -100%;
  width: 25%;
  height: 100%;
  background: goldenrod;
}


.reg-locationp {
  color: white;
  /* font-family: 'Great Vibes', cursive; */
  font-size: 20px;

}

.reg-items-container {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;

}

/* ------------------------------------------------------------------------------------------------------------------------ */

/* Countdown */

#countdown-grid {

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-family: "poppy-shower";
  gap: 150px
}

#countdown-container {
  height: 180px;
  background-color: rgb(99, 72, 6);
  display: flex;
  justify-content: center;
  align-items: center;
}



.countdown-columns {
  font-size: 30px;
  color: white;
  background-color: rgb(126, 92, 8);
  height: 130px;
  width: 130px;
  border-radius: 100%;
  text-align: center;
  padding-top: 25px;
  box-shadow: 0px 10px 10px black;
}

/* ------------------------------------------------------------------------------------------------------------------------ */

/* Couple Info */

#containerBackground {
  /* background-image: url(Pictures/gold\ texture.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10%;
}

#getToKnowUsHeading {
  text-align: center;
  font-family: "poppy-shower";
  font-size: 400%;
  font-weight: lighter;
}

#coupleInfoHeading {
  display: flex;
  justify-content: center;

}

.coupleStory {
  width: 40%;
  padding: 5%;
  width: 50%;
}

.moneInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15%;

}

#container3 {
  display: flex;
  justify-content: center;
  align-items: center;

}

.couple-info-grid {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* couple info images */
.Couple-Info-Face-image {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border: solid darkgoldenrod 3px;
}

/* couple info heading names */

.couple-info-heading {
  padding-top: 15px;
  font-size: 40px;
  font-family: "poppy-shower";


}

/* Couple info paragraph */
.couple-info-paragraph {

  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

/* ------------------------------------------------------------------------------------------------------------------------ */

/* Join-us Slogan */

#sheSaidYes-Container {
  display: flex;
  justify-content: center;
}

#sheSaidYes-slogan {
  background-color: rgb(99, 72, 6);
  text-align: center;

  height: 150px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 1075px;
}

#sheSaidYes {
  color: white;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

#dateOfAnswer {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 12px;
}

/* ------------------------------------------------------------------------------------------------------------------------ */

/* Our story */

#our-story-container {
  display: flex;
  align-content: center;
  justify-content: center;

}

#our-story-heading {
  font-size: 35px;
  font-family: "poppy-shower";
}

#our-story-section {

  width: 500px;
  margin: 2%;
  text-align: center;
}

#story-picture {
  width: 500px;
  margin: 2%;
}

#our-story-paragraph {
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}


/* ------------------------------------------------------------------------------------------------------------------------ */
/* Gallery */

.gallery-heading-container {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 5%;
}

#gallery-heading-paragraph {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  margin: 1%;
}

#dimmer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);

  display: none;
  z-index: 10000;

}

.med-img {
  width: 100%;
}

.gallery-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-background-container {
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  gap: 3px;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  /* background-image: url(Pictures/Gallery\ Background.jpg); */
  background-size: cover;
  width: 1075px;
}

.med-col1 {
  display: grid;
  grid-template-rows: repeat(2 min-content);

}

.med-col2 {
  display: grid;
  grid-template-rows: repeat(3 min-content);
}

.med-col3 {
  display: grid;
  grid-template-rows: repeat(2 min-content);
}

.med-col4 {
  display: grid;
  grid-template-rows: repeat(3 min-content);
}


/* Scroll image grid animation */
#track-container {
  background-image: url(Pictures/srhbzhzdhxfh.jpg);
  height: 100vh;
  overflow: hidden;
  background-size: cover;
}

#image-track>.image {
  width: 30vmin;
  height: 46vmin;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;

}

#image-track {
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(0%, -50%);

}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

/* Rsvp page */
#main-background {
  background-image: url(Pictures/gold\ texture.jpg);
  background-size: cover;
  height: 850px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#qr-code-background {
  background-image: url(Pictures/rsvp-barcode-background.jpg);
  background-size: cover;
  height: 750px;
  width: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#qr-code-main {
  height: 400px;
  width: 400px;
}